/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700&display=swap');
body {
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
    margin: 3rem;
    color: white;
    background-color: #395774;
    transition: background-color 0.5s;
}

h1 {
    font-size: 3rem;
}

#tagboxblock {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    width: 30rem;
    max-height: 1.875rem;
    padding: 0.75rem;
    padding-left: 1rem;
    border: 1px solid white;
    background: white;
    border-radius: 10rem;
    overflow:hidden;
}

#tagicon {
    width: 1.5rem;
    margin: 0 0.5rem 0;
    vertical-align: middle;
}

input[type=text]#tagbox {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 10em;
    width: 90%;
}

input[type=text]#tagbox::placeholder {
    /*this is the most interesting selector i've seen yet*/
    color: lightgray;
}

#postgrid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    color: black;
}

#encouragement {
    color: rgba(255, 255, 255, 0.05);
    font-size: 80pt;
    grid-column-end: span 10;
}

.textpostname {
    display:inline-block;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
}

.textpostbody {
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textpostbody > *:first-child {
    margin-top: 1rem;
}

blockquote {
    margin: 0;
    padding: 0 0 0 1rem;
    border-left: lightgray solid 5px;
}

img,
figure,
video {
    max-width: 100%;
    max-height: 100% !important;
    margin:0;
}

.post {
    display: block;
    height:30rem;
    opacity: 0%;
    top: 5rem;
    position: relative;
    border-radius: 2rem;
    width: 18rem;
    padding: 1rem;
    background-color: white;
    animation-name: popin;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes popin {
    0% {
        top: 5rem;
        opacity: 0%;
    }
    80% {
        top: -1rem;
        opacity: 100%;
    }
    100% {
        top: 0;
        opacity: 100%;
    }
}

.postcroplink {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    content: '';
    position: absolute;
    width: 18rem;
    height: 3rem;
    bottom: 1rem;
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
}
.postcroplink a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    padding: 0.25rem 0.5rem;
    background: rgba(90, 90, 90, 0.9);
    border-radius: 0.25rem;
}

.imagepostimg {
    border-radius: 1rem;
    min-height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.imagepostbody {
    margin-top: 1rem;
    max-height: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 0;
}
.imagepostblogbox {
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: 1rem 0;
    vertical-align: middle;
    margin-top: 0;
}

.postblogimg {
    margin:initial;
    display:inline-block;
    width:2rem;
    height:2rem;
    vertical-align:middle;
    border-radius:0.2rem;
}

.imagepostblogbox {
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: 1rem 0;
    vertical-align: middle;
}

.imagepostblogname {
    display:inline-block;
    vertical-align:middle;
    padding-left: 0.5rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
}

#loaderbuttoncontainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#loaderbutton {
    display: none;
    border: #182633 solid 3px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    background: none;
    color: #182633;
    font-size: 1.25rem;
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
}